<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Joy of Tipping - Android Deep Link</title>
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link rel="stylesheet" href="assets/style.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  
</head>

<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout-icon"></div>
      <div class="mdl-layout__header-row">
        <span class="mdl-layout__title">Joy of Tipping</span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link" href="/">Home</a>
          <a class="mdl-navigation__link" href="/test">Test</a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout__title">Test Links</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/">Home</a>
        <a class="mdl-navigation__link" href="/test">Test</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <h5 class="title">Test Links</h5>
      <ul class='mdl-list demo-links'>
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="/ios_universal_link" role="button">
  iOS Universal Link
</a>
              
            </span>
        </li>
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="/android_app_link" role="button">
  Android App Link
</a>
              
            </span>
        </li>
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="/android_deep_link" role="button">
  Android Deep Link
</a>
              
            </span>
        </li>
      </ul>
    </main>
  </div>
</body>

</html>